// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Variables */

// Grid
@col-padding: 0px 20px;

// Typography
@h1-font-size: 1.8rem;
@h2-font-size: 1.4rem;
@h3-font-size: 1.2rem;

// Colors
@dusty-white: #F6F8F8;
@silver-sand: #B8BCC1;
@regent-gray: #8B939C;
@pale-sky: #6B727B;
@abbey: #4C5157;

/* Element CSS styles */

h1 {
  font-size: @h1-font-size;
  padding-bottom: 15px;
}

h2 {
  font-size: @h2-font-size;
  padding-bottom: 10px;
}

h3 {
  font-size: @h3-font-size;
  padding-bottom: 5px;
}

/* Re-usable class-based CSS styles for colors */

.bg-white {
  background: #FFF;
}
.bg-dusty-white {
  background: @dusty-white;
}
.bg-silver-sand {
  background: @silver-sand;
}
.bg-regent-gray {
  background: @regent-gray;
}
.bg-pale-sky {
  background: @pale-sky;
}
.bg-abbey {
  background: @abbey;
}

/* Re-usable class-based CSS styles for the grid */

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-12, .col-6 {
  padding: @col-padding;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.rounded-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.rounded-bottom {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.p-2 {
  padding: 15px;
}
.p-4 {
  padding: 30px;
}
.py-2 {
  padding: 15px 0px;
}
.py-4 {
  padding: 30px 0px;
}
.px-2 {
  padding: 0px 15px;
}
.px-4 {
  padding: 0px 30px;
}

.m-2 {
  margin: 15px;
}
.m-4 {
  margin: 30px;
}
.my-2 {
  margin: 15px 0px;
}
.my-4 {
  margin: 30px 0px;
}
.mx-2 {
  margin: 0px 15px;
}
.mx-4 {
  margin: 0px 30px;
}

.border {
  border: 1px solid black;
}

@media(max-width: 800px) {
  .container {
    width: 95%;
  }
}

@media(max-width: 500px) {
}
